@model ProjDistViewModel

@{
    ViewData["Title"] = "项目分布";
}

<div class="card">
  <div class="card-header">
    <div class="float-right w-50">
      <form method="POST" asp-action="Index" class="form-inline float-right">
        <div class="custom-control custom-checkbox small mr-2">
          <input asp-for="LeadingGroupOnly" class="custom-control-input">
          <label class="custom-control-label" asp-for="LeadingGroupOnly"></label>
        </div>
        <div class="custom-control custom-checkbox small mr-2">
          <input asp-for="ActiveOnly" class="custom-control-input">
          <label class="custom-control-label" asp-for="ActiveOnly"></label>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-sm">提交</button>
        </div>
      </form>
    </div>
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" asp-action="Index">项目-职责分布</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-action="QualifDist">单位-资格分布</a>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <div class="row">
      <div class="col">
        <span class="badge badge-success">持证满足职责要求</span>  
        <span class="badge badge-warning">持证部分满足职责要求</span> 
        <span class="badge badge-danger">不满足职责要求</span>
        <span class="badge badge-secondary">人员已不可用</span>
      </div>
      <div class="col text-secondary text-right small">
        点击姓名可以查看履历
      </div>
    </div>
    <table class="table table-sm table-bordered small">
        <thead class="bg-dark text-white">
            <tr>
                <th>项目名称</th>
                @foreach(var column in Model.Pivot.PivotValueKeys){
                    <th>@column</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Pivot.StaffRows){
                <tr>
                <td>@Html.DisplayFor(m=>item.GroupName)</td>
                @foreach (var column in Model.Pivot.PivotValueKeys){
                    <td>
                    @foreach (var staff in item.Staffs[column]){
                      <a asp-action="Resume" asp-route-id="@staff.EmployeeID">
                        <span class="badge" style="font-size: 90%;"
                            data-category="staff" 
                            data-employee-id="@staff.EmployeeID"
                            data-duty-id="@staff.DutyID"
                            data-active-status="@staff.ActiveStatus">
                            @staff.EmployeeName
                        </span>
                      </a>
                    }
                    </td>
                }
                </tr>
            }
        </tbody>
    </table>
  </div>
</div>

@section Scripts{
  <script type="text/javascript">
    $(function(){
      $("span[data-category='staff']").each(function(){
        var eid = $(this).data("employee-id");
        var did = $(this).data("duty-id");
        var active =$(this).data("active-status");
        var url = "/project/GetQualifyState?employeeId=" + eid + "&dutyId=" + did;
        var span = this;
        $.getJSON(url, function(state){
            var title = "";
            $.each(state.certs, function(){
                var li = '';
                li = li + this.name + '(有效期：' + this.expireDate.slice(0,10) + ')';
                li = li + '';
                title = (title.length>0?title+'<br/>':title) + li;
            });
            title+="";
            var css = active==0?"badge-secondary":state.state==0?"badge-danger"
                      :(state.state==1?"badge-warning":"badge-success");
            $(span).addClass(css);
            $(span).attr("title", title);
            $(span).tooltip();
        });
      });
    });
  </script>
}

