@model Cnf.Project.Employee.Entity.GroupPivot

@{
    ViewData["Title"] = "单位分布";
}

<div class="card">
  <div class="card-header">
    <div class="float-right">
      @if(ViewBag.IncludeInactive){
        <a asp-action="QualifDist" asp-route-activeonly="1" class="btn btn-sm btn-default p-0 m-0">仅显示有效人员</a>
      }else{
        <a asp-action="QualifDist" asp-route-activeonly="0" class="btn btn-sm btn-default p-0 m-0">显示所有人员</a>
      }
    </div>
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" asp-action="Index">项目-职责分布</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" asp-action="QualifDist">单位-资格分布</a>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <div class="my-1">图例：
        <span class="badge badge-primary">正常</span>
        <span class="badge badge-secondary">不可用</span>
    </div>
    <table class="table table-sm table-bordered small">
        <thead class="bg-dark text-white">
            <tr>
                <th>单位名称</th>
                @foreach(var column in Model.PivotValueKeys){
                    <th>@column</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StaffRows){
                <tr>
                <td>@Html.DisplayFor(m=>item.GroupName)</td>
                @foreach (var column in Model.PivotValueKeys){
                    <td>
                    @foreach (var staff in item.Staffs[column]){
                      <a asp-action="Resume" asp-route-id="@staff.EmployeeID">
                        <span class="badge" style="font-size: 85%;"
                            data-category="staff" 
                            data-employee-id="@staff.EmployeeID"
                            data-active-status="@staff.ActiveStatus">
                            @staff.EmployeeName
                        </span>
                      </a>
                    }
                    </td>
                }
                </tr>
            }
        </tbody>
    </table>
  </div>
</div>

@section Scripts{
  <script type="text/javascript">
    $(function(){
      $("span[data-category='staff']").each(function(){
        var eid = $(this).data("employee-id");
        var active =$(this).data("active-status");
        var url = "/project/GetQualifyState?employeeId=" + eid;
        var span = this;
        $.getJSON(url, function(state){
          if(active == 0){
            $(span).addClass("badge-secondary");
          }else{
            $(span).addClass("badge-primary");
          }
        });
      });
    });
  </script>
}

